* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    padding: 20px;
}

nav {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    background: #333;
    color: #fff;
    padding: 10px 20px;
}

main {
    
    max-width: 800px; 
    margin: 20px auto; padding: 20px; 
    background: white; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
}

header {
    text-align: center;
    margin-bottom: 40px;
}

header h1 {
    font-size: 2.5rem;
    color: #333;
}
.intro{
    text-align: center;
    margin-bottom: 40px;
}

.blog-posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}
.blog-post {
    background: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.blog-post:hover {
    transform: scale(1.02);
}

.blog-post h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #007BFF;
}

.blog-post p {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #555;
}

.read-more {
    display: inline-block;
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
}

.read-more:hover {
    text-decoration: underline;
}